extend ../layout/common.pug
block content
  .container
    if errors
      each error in errors
        .alert.alert-danger= error
    h2.text-center Login
    form(method="POST")
      .form-group
        label(for='email') Email:
        input.form-control(type='email', placeholder='Enter email', name='email', value= values ? values.email : '')
      .form-group
        label(for='password') Password:
        input#pwd.form-control(type='password', placeholder='Enter password', name='password')
      .form-group
        p Don't have account ?
        a(href='/register/create_user') Create account 
      button.btn.btn-primary(type='submit') Login
