h1.text-center New book
.container
  .form-group
    label(for='title') Title:
      input.form-control(type='text', name='title')
  .form-group
    label(for='description') Description:
      input.form-control(type='text', name='description')
  button.btn.btn-primary(type='submit') Create